* {
	font-family: 'VT323', monospace;
}

header {
	text-align: center;
}

.article-section {
	text-align: center;
}

#keypress-input {
	font-weight: bold;
}

#output-target {
	font-weight: bold;
	font-style: italic;
}

.blue {
 color: blue;
}

.large {
 font-size: 2em;
}

.bordered {
 border: 2px dotted purple;
}

.rounded {
 border-radius: 10px;
}

#gPig {
 margin: 50px 0 20px 0;
 font-family: Helvetica;
 padding: 5px;
}

button {
	display: block;
}

img {
	text-align: center;
	height: 125px;
}